{% extends "base.html" %}
{% block title %}Visualizar Entregas{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Gestion de Entregas</h1>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <div class="container mt-4"></div>
    <a href="/crearentrega.html" id="btnCrearEntrega" class="btn btn-success mb-3">Entrega con contraseña</a>
    <a href="/crearentregadc.html" id="btnCrearEntregadoc" class="btn btn-success mb-3">Entrega de Documentos</a>
      <div class="table-responsive">
            <div class="container mt-4"></div>
    <div id="filtrosContainer"></div>
    <table id="tablaEntregas" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-dark">    
            <tr>
                <th>Número de Entrega</th>
                <th>Empresa</th>
                <th>Fecha Entrega</th>
                <th>Tipo de Entrega</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/validar_permisos.js"></script>
<script src="/static/js/verentregas.js"></script>
{% endblock %}
